<h1>パスワードリセット</h1>

<p>パスワードをリセットする場合は、以下のリンクをクリックして下さい</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>このリンクの有効期限は2時間です。</p>

<p>もしパスワードをリセットしない場合は、このメールは無視して下さい。</p>
